body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color:orange;
}
.hireMeButton{
    color:white;
    background-image: linear-gradient(orange, tomato);
    border-width: 0;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}
.flexible_section{
    display: flex;
    margin-bottom: 100px;
}
.half_width{
    width:50%;
    padding: 0 5%;
}
.half_width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bigDream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.middle_heading{
    color:red;
    text-align: center;
}
.boxShadow{
    box-shadow: 10px 10px 40px black;
    margin:0% 5%;
    border-radius: 10px;
}
#exp_left{
    border-left: 5px solid orange;
}
#exp_right{
    border-left: 5px solid blue;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
footer p{
    text-align:center;
}
footer p span{
    color:red;
    font-weight: 600;
}